header {
  // min-height: 90vh;
  // background-color: $primary;
}

$rootHeader: ".header";
#{$rootHeader} {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 13;
  // margin-bottom: 1rem;
  &__container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media screen and (min-width: 1500px) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
  }
  &__nav {
    & > a {
      color: $dark;
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      &:focus,
      &:active,
      &:hover {
        color: $dark;
      }
    }
  }
  &__logo {
    height: 35px;
    img {
      height: 100%;
    }
  }
  &__button-menu {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }
  &--header {
    min-height: initial;
    background-image: none;
    background-color: transparent;
    box-shadow: transparent;
    &::before,
    &::after {
      content: none;
    }
    a {
      color: $dark;
      &:focus,
      &:hover {
        color: $dark
      }
    }
  }
  &--absolute {
    min-height: auto;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 111;

    #{$rootHeader}__nav {
      & > a {
        color: #FFF;
        &:focus,
        &:active,
        &:hover {
          color: #FFF;
        }
      }
    }
  }
  &__button-menu {
    color: $dark;
    background: darken($primary, 10%);
    color: $white;
    border-radius: 25%;
    line-height: 1;
    padding: 5px;
    &:before {
      font-size: 2rem;
    }
  }
}

.header-home {
  position: relative;
  &__carousel-img {
    position: relative;
    min-height: 450px;
    max-height: 100%;
    background-position: center;
    background-size: cover;
    @media screen and (min-height: 1000px) {
      height: 100vh;
    }
    @media screen and (min-height: 768px) {
      height: auto;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    z-index: 12;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    color: #FFF;
    @extend .container;
  }
  // &::after {
  //   content: '';
  //   background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2229.7432in%22%20height%3D%222.90313in%22%20version%3D%221.0%22%20style%3D%22shape-rendering%3AgeometricPrecision%3B%20text-rendering%3AgeometricPrecision%3B%20image-rendering%3AoptimizeQuality%3B%20fill-rule%3Aevenodd%3B%20clip-rule%3Aevenodd%22%20viewBox%3D%220%200%207101%20693%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cdefs%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20%3C%21%5BCDATA%5B%20.fil0%20{fill%3A%23333%3Bfill-opacity%3A0.458824}%20.fil1%20{fill%3A%23FFF}%20%5D%5D%3E%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22Layer_x0020_1%22%3E%20%3Cmetadata%20id%3D%22CorelCorpID_0Corel-Layer%22%2F%3E%20%3Cg%20id%3D%22_1970691219664%22%3E%20%3Cpath%20class%3D%22fil0%22%20d%3D%22M0%20467c0%2C0%201921%2C234%202547%2C-13%20972%2C-420%201740%2C447%202431%2C12%20691%2C-435%20997%2C-507%201416%2C-448%20420%2C59%20522%2C206%20707%2C250l0%20415%20-7101%201%200%20-217z%22%2F%3E%20%3Cpath%20class%3D%22fil1%22%20d%3D%22M0%20657c0%2C0%20603%2C54%201229%2C-192%20972%2C-420%201631%2C514%202322%2C79%20690%2C-435%201257%2C-576%201776%2C-473%20519%2C104%201205%2C466%201774%2C134l0%20488%20-7101%200%200%20-36z%22%2F%3E%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E);
  //   background-size: 101%;
  //   background-repeat: no-repeat;
  //   background-position: bottom;
  //   display: block;
  //   height: 150px;
  //   position: absolute;
  //   bottom: -1px;
  //   left: -1px;
  //   right: 0px;
  //   z-index: 11;
  // }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $primary;
    opacity: 0.8;
    pointer-events: none;
    z-index: 10;
  }
  .owl-dots {
    display: none;
  }
  .autocomplete-result-list {
    text-align: left;
    color: #333;
    z-index: 11455511 !important;
  }
}

.header__hero {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  background-image: url('./assets/images/hero/bg-hero-abcd.jpg');
  background-position: center;
  background-size: cover;

  min-height: 400px;
  height: 80vh;
  display: flex;
  align-items: center;
  // padding-top: 55px;
  // padding-bottom: 55px;

  &::after {
    content: '';
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2229.7432in%22%20height%3D%222.90313in%22%20version%3D%221.0%22%20style%3D%22shape-rendering%3AgeometricPrecision%3B%20text-rendering%3AgeometricPrecision%3B%20image-rendering%3AoptimizeQuality%3B%20fill-rule%3Aevenodd%3B%20clip-rule%3Aevenodd%22%20viewBox%3D%220%200%207101%20693%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%3Cdefs%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20%3C%21%5BCDATA%5B%20.fil0%20{fill%3A%23333%3Bfill-opacity%3A0.458824}%20.fil1%20{fill%3A%23FFF}%20%5D%5D%3E%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22Layer_x0020_1%22%3E%20%3Cmetadata%20id%3D%22CorelCorpID_0Corel-Layer%22%2F%3E%20%3Cg%20id%3D%22_1970691219664%22%3E%20%3Cpath%20class%3D%22fil0%22%20d%3D%22M0%20467c0%2C0%201921%2C234%202547%2C-13%20972%2C-420%201740%2C447%202431%2C12%20691%2C-435%20997%2C-507%201416%2C-448%20420%2C59%20522%2C206%20707%2C250l0%20415%20-7101%201%200%20-217z%22%2F%3E%20%3Cpath%20class%3D%22fil1%22%20d%3D%22M0%20657c0%2C0%20603%2C54%201229%2C-192%20972%2C-420%201631%2C514%202322%2C79%20690%2C-435%201257%2C-576%201776%2C-473%20519%2C104%201205%2C466%201774%2C134l0%20488%20-7101%200%200%20-36z%22%2F%3E%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    height: 150px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: 0px;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $primary;
    opacity: 0.8;
    pointer-events: none;
  }

  &-content {
    position: relative;
    z-index: 1;
    color: #FFF;
    @extend .container;
  }
  &-title {
    font-size: 35px;
    line-height: 1;
    font-weight: bold;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: map-get($spacers, 2);
  }
  &-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width: 768px) {
    &-title {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: left;
      max-width: 100%;
    }
    &-subtitle {
      font-size: .8rem;
      text-align: left;
      max-width: 100%;
    }
  }
}
